<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: sans-serif;
        }
        .left-bar {
            background-color: rgb(255, 173, 173);
            width: 200px;
            position: fixed;
        }

        main {
            margin-left: 230px;
        }

        .left-bar h2 {
            font-size: 14px;
            text-align: center;
        }


        .spa-page {
            display: none;
        }
    </style>
</head>
<body>

<nav class='left-bar'>
<h2>University Management</h2>
<ul>
    <li><a href='#home' onclick="showLandingPage()">Home</a></li>
    <li><a href='#course_list' onclick="showCourseList()">Course List</a></li>
    <li><a href='#logout' onclick="logout()">Logout</a></li>
</ul>
</nav>
<main>
<div id="app-content">Application</div>
</main>

<script>
    let authToken = undefined

    async function showCourseList() {
        let response = await fetch('/api/course',{
            headers: {
                Authorization: `Bearer ${authToken}`
            }
        })
        if (response.status == 401) {
            showLoginPage()
            return
        }
        let courseList = await response.json()
        let output = "<table>"
        output += "<tr><th>Code</th><th>Description</th><th>Capacity</th><th>Actions</th><tr>"
        for (let c of courseList) {
            output += `<tr>
                <td>${c.code}</td>
                <td>${c.name}</td>
                <td>${c.capacity}</td>
                <td>
                    <button onclick=editCapacity('${c.code}')>Update Capacity</button>
                    <button onclick=deleteCourse('${c.code}')>Delete</button>
                </td>
            </tr>`
        }
        output += "<table>"
        output += "<button onclick=addCourse()>Add Course</button>"
        document.getElementById('app-content').innerHTML = output
    }

    let currentEdit = undefined
    async function editCapacity(cNum) {
        let response = await fetch(`/api/course/${cNum}`)
        let details = await response.json()
        let output = `<h1>Edit Capacity for ${details.name}</h1>`
        output += `New Capacity: <input id='course-cap' value='${details.capacity}'><br>
            <button onclick='saveCapacity()'>Update</button>`
        document.getElementById('app-content').innerHTML = output
        currentEdit = cNum
    }

    async function saveCapacity() {
        let newCapacity = document.getElementById('course-cap').value
        let response = await fetch(`/api/course/${currentEdit}`, {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({capacity: newCapacity})
        })
        showCourseList()
    }

    async function addCourse() {
        let details = {
            code: "INFS4444",
            name: "Intro to Everything",
            capacity: 50
        }
        let response = await fetch(`/api/course`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(details)
        })
        showCourseList()
    }

    async function deleteCourse(code) {
        fetch(`/api/course/${code}`, {
            method: "DELETE"
        })
        showCourseList()
    }

    function showLoginPage() {
        let html = `
        <div id='login-message'></div>
        Username: <input id='username'><br>
        Password: <input id='password'><br>
        <button onclick='tryLogin()'>Login</button>
        `
        document.getElementById('app-content').innerHTML = html
    }

    async function tryLogin() {
        let username = document.getElementById('username').value
        let password = document.getElementById('password').value
        let result = await fetch('/api/login', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({username:username, password:password})
        })
        if (result.status == 401) {
            document.getElementById('login-message').innerHTML = "Invalid username/password"
        }
        else {
            authToken = await result.json()
            showCourseList()
        }
    }

    function logout() {
        authToken = ""
        showLoginPage()
    }
    
    showLoginPage()
</script>


</body>
